KERNEL=="ttyACM0", RUN+="/bin/setserial /dev/ttyACM0 low_latency"
KERNEL=="ttyACM1", RUN+="/bin/setserial /dev/ttyACM1 low_latency"

ACTION!="add|change", GOTO="openocd_rules_end"
SUBSYSTEM!="usb|tty|hidraw", GOTO="openocd_rules_end"
# Please keep this list sorted by VID:PID

#fable Atmel Corp.
ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="fabe", MODE="0666", GROUP="dialout"

LABEL="openocd_rules_end"
